.adminMenuManagementPageContainer {
}

.adminMenuControlSection {
  
  overflow-y: auto;
}
.adminMenuManagementUploadSection{
  background-color: rgb(249, 214, 214);

}
.adminNewDishRegisterTitle{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}