.adminMenuManagementPageContainer {
}

.adminMenuControlSection {
  
  overflow-y: auto;
}
.adminMenuManagementUploadSection{
  background-color: hwb(0 87% 13%);

}
.adminNewDishRegisterTitle{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}